.header {
  text-align: center;
}


.App-header {
  background-color: #3e3e3b;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 50px;
}

.home{
 
  height: 20%;
  margin-left: 1020px;
  margin-top: 37px;
  
}
.mybooks{
  
  height: 20%;
  margin-top: 37px;
}

